:root {
  --primary-color: white;
  --secondary-color: #4a90e2;
  --third-color: #e6ebef;
}
body {
  font-family: "Sour Gummy", sans-serif;
  background-color: var(--third-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
.img-responsive {
  width: 100%;
  display: block;
}
.img-responsive-1 {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.youtube-vids {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 16/9;
  filter: brightness(100%) contrast(86%);
}
.card {
  background-color: var(--primary-color);
  margin-top: 30px 0px;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 25px;
  text-align: center;
}
.card-footer {
  padding: 0 30px 30px;
}
.btn {
  display: block;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--secondary-color);
  text-decoration: none;
}
.vids {
  padding-top: 60px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f0f0f9;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/Hafez-tomb.jpg);
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  margin: 0;
  line-height: 1.5;
}
h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 35px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}
main {
  background-color: var(--primary-color);
}

main h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--secondary-color);
}
main h3 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 2px;
}
main p {
  font-size: 16px;
  line-height: 1.5;
}
main h4 {
  font-size: 25px;
  line-height: 1;
  margin: 0;
  font-weight: 500;
}
main h5 {
  font-size: 15px;
  margin: 0;
  line-height: 1;
  color: var(--secondary-color);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/saadi-tomb.webp);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 0;
}
footer ul {
  padding: 0;
  margin-top: 0;
}
footer li {
  list-style: none;
  padding-left: 15px;
}
footer ul a {
  color: var(--primary-color);
  opacity: 0.8;
}
footer p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.8;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
}
footer p a {
  color: var(--primary-color);
  font-weight: bold;
  opacity: 0.8;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 38px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 19px;
  }
  main h4 {
    font-size: 18px;
  }
  header a {
    font-size: 10px;
    padding: 8px 16px;
  }
  main h2 {
    font-size: 15px;
  }
  main h3 {
    font-size: 28px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    width: 100%;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .youtube-vids {
    grid-template-columns: 1fr;
  }
}
