:root {
  --primary-color: white;
  --secondary-color: #4a90e2;
  --third-color: #e6ebef;
}
body {
  font-family: "Sour Gummy", sans-serif;
  background-color: var(--third-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/188-215.jpg);
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  margin: 0;
  line-height: 1.5;
}
h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 35px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 38px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 19px;
  }
}
